*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}

.voteContainer{
    display: flex;
    flex-direction: column;
    gap: 40px;
   justify-content: center;
   align-items: center;
    /* background-color: rgb(125, 151, 200); */
    height: 200px;
    width: 550px;
    /* border-radius: 5px; */
  background: rgba(119, 115, 115, 0.85);
  backdrop-filter: blur(10px);
  border-radius: 18px;
  padding: 24px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.button{
    display: flex;
    gap: 100px;
    font-size: 50px;

}

#btn1{
    border-radius: 12px;
  border: none;
  background: linear-gradient(135deg, #6366f1, #4f46e5);
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 8px 20px rgba(99, 102, 241, 0.35);
  height: 50px;
  width: 150px;
    

}
#btn2{
   height: 50px;
    width: 150px;
    border-radius: 12px;
  border: none;
  background: linear-gradient(135deg, #6366f1, #4f46e5);
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 8px 20px rgba(99, 102, 241, 0.35);
}
